*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'helvetica';
    background-image: url(BackgroundImage.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu > section {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 80px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.menu > section > h1 {
    grid-column: 1/-1
}

section > h1 {
    text-transform: uppercase;
    font-size: 30px;
}

h1 {
    overflow: hidden;
    text-align: center;
    font-family: 'helvetica';
}

h1:before,
h1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 25%;
}

h1:before {
    right: 1em;
    margin-left: -50%;
}

h1:after {
    left: 1em;
    margin-right: -50%;
}

h3 {
    text-align: center;
    font-family: 'helvetica';
    font-style: italic;
    font-weight: 300;
}

p {
    text-align: center;
    font-style: italic;
    font-weight: 300;
}

h5 {
    font-weight: 400;
}

.restaurant {
    float: none;
    margin-top: 20px;
    margin-left: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
}

/* REMEBER TO FIX PADDING ISSUE FOR RESIZING */

li {
    text-align: center;
    display: inline-block;
    padding: 40px 100px;
    letter-spacing: 0;
}

/* REMEBER TO FIX PADDING ISSUE FOR RESIZING */

article {
    border-style: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem;
    position: relative;
}

.shadow {
    width: 300px;
    height: 200px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.BgImage {
    max-width: 100%;
    z-index: -1;
    position: fixed;
    opacity: 0.45;
}

.learnMore {
    border-radius: 5px;
    background: #739AC5;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    padding: 15px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
    margin-top: 20px;
}

.learnMore span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.learnMore span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

.learnMore:hover span {
    padding-right: 25px;
}

.learnMore:hover span:after {
    opacity: 1;
    right: 0;
}

.button {
    margin-top: 40px;
}

.Thediscount {
    color: red;
    font-weight: 700;
}

.hide {
    display: none;
}

.restaurant {
    position: absolute;
    top: 0;
    left: 0;
}

.soldOut {
    z-index: 10;
    position: absolute;
}

.discountTag {
    position: absolute;
    left: 0;
}

/* modal */

.modal-background {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #7c1f17;
    margin: 1em;
    padding: 2em;
}
